# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

#
git+ssh://git@github.com/Madniel/mdproject
git+ssh://git@github.com/robpasternak/fibonachos
git+ssh://git@github.com/alexanderdust/myfirstproject
#git+ssh://git@github.com/Pr4t3/PratPackage
git+ssh://git@github.com/Lerajaro/mytestpackage
git+ssh://git@github.com/kimfriedel/awesome_cool
git+ssh://git@github.com/mkvph0ch/wavenum
git+ssh://git@github.com/vicentefuhrmann/the_first_project
git+ssh://git@github.com:henna-kim/hennas_rep
git+ssh://git@github.com/cynthias13w/purplepy
git+ssh://git@github.com/julia-welch/juliasfinest
git+ssh://git@github.com/Gueho/guehopkg
#git@github.com:viiktoria/mlproject.git
#git+ssh://git@github.com:viiktoria/mlproject.git
